:root {
  --color-primary-light: #ffffff;
  --color-primary-dark: #011c44;
  --color-primary-accent: #2b7fff;

  --color-secondary-harddark: #000;
  --color-secondary-light: #747272;
  --color-secondary-dark: #4a4a4a;
  --color-secondary-accent: #ffd02b;
  --color-secondary: #011f4a;
}
