.about-us-section {
  padding-top: 0;

  p {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.72;
  }

  .second-accent {
    color: var(--color-primary-dark);
    text-transform: capitalize;
    font-weight: 500;
  }
}

.about-us-section-title {
  margin-bottom: 40px;
}

.about-us-section-text :not(:last-child) {
  margin-top: 24px;
  @media screen and (min-width: $bp-desctop) {
    margin-top: 40px;
  }
}

.about-us__container {
  display: flex;
  gap: 28px;
  position: relative;
}

.about-us-text-container {
  padding-top: 0;
  @media screen and (min-width: $bp-desctop) {
    padding-top: 40px;
    flex-basis: 50%;
  }
}

.img-container {
  display: none;
  @media screen and (min-width: $bp-desctop) {
    display: block;
    flex-basis: 50%;
    position: relative;
  }
}

.face-before {
  display: block;
  margin-bottom: 40px;
}

.face-after {
  display: block;
  margin-left: auto;
}

.face-img {
  width: 340px;
  height: 340px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.star {
  flex-shrink: 0;
  position: absolute;
}

.star1 {
  fill: var(--color-secondary);
  top: 355px;
  left: 140px;
  animation: rotateAndMove 10s linear infinite;
}

.star2 {
  fill: var(--color-primary-accent);
  top: 30px;
  right: 0;
  animation: rotateAndMove 10s linear infinite;
  animation-delay: 2s;
}

.star3 {
  fill: var(--color-secondary-light);
  top: 260px;
  right: 40px;
  animation: rotateAndMove 10s linear infinite;
  animation-delay: 4s;
}

.star4 {
  fill: var(--color-secondary);
  top: 260px;
  right: 100px;
  animation: rotateAndMove 10s linear infinite;
  animation-delay: 4s;

  @media screen and (min-width: $bp-desctop) {
    display: none;
  }
}

@keyframes rotateAndMove {
  0%,
  100% {
    transform: rotate(0deg) translateX(100px) rotate(0deg);
  }
  25% {
    transform: rotate(90deg) translateX(100px) rotate(-90deg);
  }
  50% {
    transform: rotate(180deg) translateX(100px) rotate(-180deg);
  }
  75% {
    transform: rotate(270deg) translateX(100px) rotate(-270deg);
  }
}
