.footer {
  padding: 56px 0;
  background-color: var(--color-primary-dark);
  position: relative;
  transition: fill 0.2s;

  p {
    color: var(--color-secondary-light);
    font-size: 13px;
    font-weight: 400;
  }
}

.footer-icon {
  fill: var(--color-primary-light);
  transition: fill 0.2s;

  &:hover {
    fill: var(--color-primary-accent);
  }
}

.footer-container {
  display: flex;
  gap: 32px;
  flex-direction: column;

  @media screen and (min-width: $bp-tablet) {
    flex-direction: row;
  }
}

.footer-nav,
.footer-address {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 32px;

  @media screen and (min-width: $bp-tablet) {
    flex-basis: 50%;
    flex-direction: row;
    text-align: left;
  }
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
}

.footer::after {
  content: '';
  background-image: url(../images/glasses.png);
  width: 247px;
  height: 152px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
}

.link-footer {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 400;
  font-family: inherit;
  transition: color 0.2s;

  &:hover,
  &:focus,
  &:active {
    /* font-weight: 700; */
    color: var(--color-primary-accent);
  }
}
