.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 37px;

  &__container {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 32px;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 32px;
    flex-grow: 1;
    justify-content: center;
  }
}

.header-menu-social {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header-icon {
  fill: var(--color-primary-dark);
  transition: fill 0.2s;

  &:hover {
    fill: var(--color-primary-accent);
  }
}
