.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 37px;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 32px;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 32px;
  flex-grow: 1;
  justify-content: center;
}

.header-menu-social {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header-icon {
  fill: var(--color-primary-dark);
  transition: fill 0.2s;
}
.header-icon:hover {
  fill: var(--color-primary-accent);
}
