.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(1, 31, 74, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  transition: opacity 0.2s, visibility 0.2s;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  width: 100%;
  max-width: 723px;
  height: 100%;
  max-height: 681px;
  background-color: var(--color-primary-dark);
  background-image: url(../images/Background-modal.png);
  border-radius: 48px;
  padding: 42px 144px;
  position: relative;
  overflow-y: auto;

  &__btn-close {
    position: absolute;
    top: 40px;
    right: 40px;
  }
}
