.hero-section .button {
  margin-bottom: 16px;
}

.button {
  padding: 16px 32px;

  background-color: var(--color-primary-accent);
  color: var(--color-primary-light);
  font-weight: 600px;
  font-family: inherit;
  font-size: inherit;
  line-height: 1;

  border-radius: 32px;
  border: 2px solid var(--color-primary-accent);
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;

  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    border: 2px solid var(--color-primary-accent);
    color: var(--color-primary-dark);
    padding: 16px 32px;
  }
}

.form-button {
  margin: 0 auto 8px;
  display: block;

  &:hover {
    color: var(--color-primary-light);
  }
}
