.link-header {
  color: var(--color-primary-dark);
  font-weight: 400;
  cursor: pointer;

  font-family: inherit;
  transition: color 0.2s;
  margin-bottom: 16px;

  &:hover,
  &:focus,
  &:active {
    color: var(--color-primary-accent);
  }

  @media screen and (min-width: $bp-tablet) {
    margin-bottom: 0;
  }
}

.address {
  font-style: normal;
}

.address-list,
.address-info {
  flex-grow: 1;
}
